footer {
    background-color: #8bd849;
    border-top : 8px solid #69ba25;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.26);
    padding-left : 25%;
    padding-right : 15%;
    padding-top: 1%;
    padding-bottom: -1%;
    z-index: 10;
    width: 100%;
}