.navbar
{
    /* background-image: -moz-linear-gradient( 135deg, rgba(12, 100, 12, 0.95) 0%, rgba(140, 235, 55, 0.95) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgba(12, 100, 12, 0.95) 0%, rgba(140, 235, 55, 0.95) 100%);
    background-image: -ms-linear-gradient( 135deg, rgba(12, 100, 12, 0.95) 0%, rgba(140, 235, 55, 0.95) 100%);
    background-image: linear-gradient( 135deg, rgba(12, 100, 12, 0.95) 0%, rgba(140, 235, 55, 0.95) 100%); */
    background-color: #69ba25;
    padding-top: 2%;
    margin-top: -1%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: .2vw;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.26);

}

.header-full {
    padding-top: 3%;
    color: white;
    background-image: -moz-linear-gradient( 135deg, rgba(12, 100, 12, 1) 0%, rgba(140, 235, 55, 1) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgba(12, 100, 12, 0.8) 0%, rgba(140, 235, 55, 1) 100%);
    background-image: -ms-linear-gradient( 135deg, rgba(12, 100, 12, 0.8) 0%, rgba(12, 100, 12, 1) 100%);
    background-image: linear-gradient( 135deg, rgba(12, 100, 12, 1) 0%, rgba(140, 235, 55, 1) 100%);
    background-size: cover;
    background-position: bottom;
    padding-bottom: 3%;
}

.header-full .navbar-nav>li>a {
    color: white;
    font-size: 18px;
    border-radius: 10px;
}

.header-full .navbar {
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-bottom:none;
    background-color: transparent;
    min-width: 300px;
    border: none;
}

.header-full .navbar-default .navbar-nav>.open>a,
.header-full .navbar-default .navbar-nav>.open>a:focus,
.header-full .navbar-default .navbar-nav>.open>a:hover {
    color: #ccc;
    background-color: transparent;
}

.header-full .nav>li>a:focus,
.header-full .nav>li>a:hover {
    color: #ccc;
    background-color: transparent;
}

.header-full .navbar-nav>li {
    margin-right: 20px;
}

.headerfull .navbar-nav {
    margin-top: 12px;
}

.header-full {
    color: white;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-full .hero {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 100px;
}

.hero h1 {
    color: white;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 36px;
}

.header-full h1 {
    color: white;
    font-weight: bold;
    font-size: 120px;
    margin-bottom: 36px;
}

.header-full .hero p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 22px;
    max-width: 660px;
    margin: 0 auto 20px;
    font-weight: normal;
    line-height: 1.5;
}

.header-full .btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: #fffbfb !important;
    outline:none;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 24px;
    padding: 18px 24px;
    transition:0.2s background-color;
}

.header-full .btn-primary:hover {
    background-color:rgba(255,255,255,0.1);
}

.caret:hover {
    color: black; !important;
}